/* GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}


/* MAIN */
main{
  height: calc(100vh - 90px);
}

/* SEZIONE SINISTRA */
main .menu-left{
  float: left;
  width: 230px;
  height: 100%;
  background-color: #000000;
}

main .menu-left .left-top{
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

main .menu-left .left-bottom {
  height: 80px;
  width: 230px;
  background-color: black;
  color: #A3A3A3;
}

main .menu-left .left-top .logo img{
  max-width: 140px;
  padding: 20px 0;
}

main .menu-left .left-top .logo-mobile{
  width: 50px;
  padding: 5px 5px;
}

main .menu-left .left-top .bottoni-left img{
  width: 30px;
}

.home{
  display: flex;
  align-items: center;
  width: 100%;
  color: #A3A3A3;
}

.search{
  display: flex;
  align-items: center;
  width: 100%;
  color: #A3A3A3;
}

.libreria{
  display: flex;
  align-items: center;
  width: 100%;
  color: #A3A3A3;
}

.home:hover{
  color: white;
}
.search:hover{
  color: white;
}
.libreria:hover{
  color: white;
}

.playlist{
  height: 70%;
  overflow-y: auto;
  margin-top: 30px;
  color: #A3A3A3;
}

.button-piu{
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  background-color: #A3A3A3;
  color: black;
  text-align: center;
  line-height: 35px;
  font-size: large;
}

.button-piu span{
  line-height: 40px;
  color: #A3A3A3;
}

.playlist ul li{
  overflow-y: auto;
  height: 60%;
  margin-top: 10px;
}

/* LEFT BOTTOM  */

.installa-app{
  padding: 10px;
  width: 210px;
  margin: 0 auto;
  border-bottom: 1px solid #A3A3A3;
}

.installa-app::after{
  content: "Installa app";
}

.user img{
  width: 26px;
  height: 26px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #A3A3A3;
  display: inline;
}

.user::after{
  content: "John Doe";
}

/* SEZIONE DESTRA */

main .menu-right{
  height: 100%;
  width: calc(100% - 230px);
}


/* SEZIONE ALTA */
.menu-alto{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
}

.menu-alto button{
  padding: 15px 40px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
}

/* SEZIONE CONTENUTO */
.titolo{
  color: white;
}
main .contenuto{
  height: 100%;
  overflow-y: auto;
  background-color: #141922;
}

.striscia-alta{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: #4F5259;
}

.contenuto .striscia-alta ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.striscia-alta ul li{
  list-style: none;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif;
}

.titolo{
  padding: 20px 20px;
}

.recenti{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.categoria{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(90% / 6);
  padding: 8px 0;
  text-align: center;
  min-width: 210px;
}



.categoria h4{
  padding: 10px 0;
  color: white;
}

.categoria p{
  color: #66696F;
}

/* SEZIONE JOHN */
.creato-per{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.creato-per .categoria{
  margin-left: 20px;
}

/* SEZIONE POPOLARI */
.artisti-popolari{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.artisti-popolari .categoria{
  margin-left: 20px;
}

.artisti-popolari .categoria img{
  border-radius:50%;
}

/* FOOTER */
footer{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #282828;
  color: white;
}



@media (max-width:550px){
  main .menu-left{
    width: 50px;
  }
  main .menu-right{
    width: calc(100% - 50px);
  }
  main .menu-left .left-top .logo-mobile img{
    width: 45px;
    margin: 0 auto;
  }
  main .striscia-alta ul li{
    font-size: 13px;
  }
  main .menu-left .left-top .logo img{
    display: none;
  }
  main .menu-left .left-top span{
    display: none;
  }
}

@media (min-width:550px){
  main .menu-left .left-top .logo-mobile img{
    display: none;
    
  }
}