/* GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}


/* MAIN */

/* SEZIONE SINISTRA */
.menu-left{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-items: center;
  height: 900px;
  width: 230px;
  background-color: black;
  color: white;
}

/* SEZIONE ALTA */
.menu-alto{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  width: calc(100% - 230px);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
}

.menu-alto button{
  padding: 15px 40px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
}

/* SEZIONE CONTENUTO */
.titolo{
  color: white;
}
.contenuto{
  width: calc(100% - 230px);
  background-color: #141922;
}

.striscia-alta{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  color: #4F5259;
}

.contenuto .striscia-alta ul{
  display: flex;
  justify-content: center;
}

.striscia-alta ul li{
  list-style: none;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
}

.titolo{
  padding: 20px 20px;
}

.recenti{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.categoria{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
  text-align: center;
}

.categoria , img{
  width: 177px;
  height: auto;
}

.categoria h4{
  padding: 10px 0;
  color: white;
}

.categoria p{
  color: #66696F;
}

/* SEZIONE JOHN */
.creato-per{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.creato-per .categoria{
  margin-left: 20px;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  background-color: #282828;
  color: white;
}



@media all and (max-width:550px){
  .menu-left{
    width: 50px;
  }

  .menu-alto{
    width: calc(100% - 50px);
  }
}